<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Incident name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Incident name"
                    name="name" required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Reporter</label>
                    <input type="text" class="form-control"
                    id="authorTextField"
                    placeholder="Enter Incident Reporter"
                    name="author" required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Date</label>
                    <input type="text" class="form-control"
                    id="publishedTextField"
                    placeholder="Enter Date"
                    name="published" required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextArea">Detail</label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter a detailed description of the Incident"
                    name="description" required></textarea>
                </div>

                <div class="form-group">
                    <label for="priceTextField">Damage Cost</label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="Enter incidentaL damage cost"
                    name="price" required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/incidents" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>